html {
  font-size: 16px;
}
body {
  background-color: floralwhite;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  margin: 0;
}

#text {
  grid-area: text;
  height: inherit;
  display: grid;
  flex-direction: column;
  align-content: center;
}

#name {
  font-weight: 600;
}

#title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.2rem;
  margin: 15px 0px;
  line-height: 135%;
}

#description {
  font-size: 0.75rem;
}

hr {
  margin: 10px auto;
  width: 40px;
  border: 2px solid black;
}

#section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "text pic1"
    "text pic2";
  background-color: white;
  height: 500px;
  width: 570px;
  box-shadow: 0px 0px 20px 1px #d09268;
}

#delimeters {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 570px;
}

.delimeter {
  width: inherit;
}

#pic1, #pic2 {
  height: 250px;
  width: 250px;
  justify-self: end;
}

#pic1 { grid-area: pic1; }

#pic2 { grid-area: pic2; }

@media (max-width: 425px) {
  html { font-size: 8px; }
  #section, #delimeters {
    height: 260px;
    width: 300px;
  }
  #pic1, #pic2 {
    height: 130px;
    width: 130px;
  }
  #title { margin: 5px 0; }
  #text { padding: 0 7px; }
  hr {
    margin: 5px auto;
    width: 20px;
    border: 1px solid black;
  }
}