*, ::after, ::before {
	box-sizing: border-box;
}

html {
  font-size: 16px;
	margin: 0;
}

body {
  background-color: floralwhite;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	display: flex;
	height: 50px;
	padding: 5px 15px;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	z-index: 1;
}

#burger {
}

.nav {
	border-top: 5px solid floralwhite;
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	margin-top: 50px;
	transition-duration: .25s;
	text-align: center;
}

#nav-list {
	font-size: 1.7rem;
	display: flex;
	list-style-type: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
	height: 85%;
}

li.nav-item {
	display: block;
}

a.nav-item:hover {
	background-color: floralwhite;
}

a.nav-item {
	padding: 15px 50px;
	color: #000;
	text-decoration: none;
}

#toggler {
	display: none;	
}

.toggle-burger {
	display: flex;
	align-items: center;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.button-toggle,
.button-toggle::before,
.button-toggle::after {
	display: block;
	position: absolute;
	width: 26px;
	height: 2px;
	transition-duration: .25s;
	background-color: #000;
}

.button-toggle::before {
	content: '';
	top: -8px;
}

.button-toggle::after {
	content: '';
	top: 8px;
}

#toggler:checked ~ .toggle-burger > .button-toggle {
	transform: rotate(45deg);
}

#toggler:checked ~ .toggle-burger > .button-toggle::before {
	top: 0;
	transform: rotate(0);
}

#toggler:checked ~ .toggle-burger > .button-toggle::after {
	top: 0;
	transform: rotate(90deg);
}

#toggler:checked ~ .nav {
	visibility: visible;
	left: 0;
}

main {
  height: 100vh;
	padding: 20px;
	padding-top: 55px;
}

#gallery {
	line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   4px;
  -moz-column-count:    5;
  -moz-column-gap:      4px;
  column-count:         5;
	column-gap:						4px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gallery-slider {
	display: flex;
	justify-content: center;
	height: 100%;
	box-sizing: border-box;
}

.thumbnails {
	display: flex;
	flex-direction: column;
	line-height: 0;
}

.thumbnails li {
	flex: auto;
}

.thumbnails a {
	display: block;
}

.thumbnails img {
	width: 30vmin;
	height: 20vmin;
	object-fit: cover;
	object-position: bottom;
}

.slides {
	overflow: hidden;
  width: 75vmin;
  height: 100vmin;
}

.slides li {
	width: 75vmin;
	height: 100vmin;
	position: absolute;
	z-index: 1;
}

.slides img {
	height: 100vmin;
	object-fit: cover;
	object-position: top;
}

.gallery-item {
	width: 100% !important;
  height: auto !important;
	margin: 2px;
	cursor: pointer;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@media (max-width: 1200px) {
  #gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}